.header-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-logo{
  /* display: flex; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width:8%;
}
.heading{
  font-family:cursive;
  font-size:25px;
}